services:
  - type: web
    name: t40-strapi-cms
    runtime: node
    region: frankfurt
    plan: starter
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: NODE_ENV
        value: production
